.text-danger{
    font-family: 'Fredericka the Great', cursive;
    color: #e5904d !important;
    text-shadow: 1px 1px black;
}

#s_header{background: #1e1109}
#s_trio{background: #fefaf7}
#s_model_of_the_week{background: #26221f}
#s_about{background: #f0e9d7}
#s_prints{background: #fefaf7}
#s_paintings{background: #414046}
#s_drawings{background: #f0e9d7}
#s_contact{background: #fefaf7}
#s_footer{background: #414046}
#s_copyright{background: #000}

/* s_header */
    #s_header{
        background: url('../imgs/bg/4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    #s_header{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #s_header aside{
        text-align: center;
        grid-column: 2/4;
        grid-row: 2/3;
    }
    @media(max-width:992px){
        #s_header .display-4{
            font-size:30px;
        }
        #s_header h5{
            font-size:12px;
        }
    }
/* s_trio */
    .trioGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    @media(max-width:768px){
        .trioGrid{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        .subtrio{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-gap: 15px;
        }
    }
    @media(max-width:576px){
        .trioGrid{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-gap: 10px;
        }
        .subtrio{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
        }
    }
/* s_model_of_the_week */

/* s_about */
    .aboutgrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;
        grid-template-areas: 
            "img-grid img-grid img-grid"
            "hd-grid hd-grid hd-grid"
            "text-grid text-grid text-grid";
    }
    .img-grid{
        grid-area: img-grid;
        grid-column: 2/3;
    }
    .hd-grid{
        grid-area: hd-grid;
        text-align: center;
    }
    .text-grid{
        grid-area: text-grid;
        line-height: 2;
    }
    @media(max-width:768px){
        .aboutgrid{
            grid-gap: 10px;
            grid-template-areas: 
                "img-grid hd-grid hd-grid"
                "img-grid text-grid text-grid"
                "img-grid text-grid text-grid";
        }
        .img-grid{
            grid-column: 1/3;
            width: 50%
        }
        .hd-grid{
            text-align: left;
            padding-left: 20px;
        }
        .text-grid{
            padding-left: 20px;
        }
    }
    @media(max-width:576px){
        .aboutgrid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-gap: 10px;
            grid-template-areas: 
                "hd-grid hd-grid"
                "text-grid img-grid"
        }
        .img-grid{
            grid-column: 2/2;
            width: 100%
        }
        .hd-grid{
            text-align: left;
            padding-left: 10px;
        }
        .text-grid{
            padding-left: 10px;
            font-size: 10px;
        }
    }
/* s_prints */

/* s_paintings */
    .painting-1{
        background: url('../imgs/paintings/1.jpg');
        background-size: cover;
    }
    .painting-2{
        background: url('../imgs/paintings/2.jpg');
        background-size: cover;
    }
    .painting-3{
        background: url('../imgs/paintings/3.jpg');
        background-size: cover;
    }
    .painting-4{
        background: url('../imgs/paintings/4.jpg');
        background-size: cover;
    }
    .painting-5{
        background: url('../imgs/paintings/5.jpg');
        background-size: cover;
    }
    .painting-6{
        background: url('../imgs/paintings/6.jpg');
        background-size: cover;
    }
    .painting-7{
        background: url('../imgs/paintings/7.jpg');
        background-size: cover;
    }
    .painting-8{
        background: url('../imgs/paintings/8.jpg');
        background-size: cover;
    }
    .painting-9{
        background: url('../imgs/paintings/9.jpg');
        background-size: cover;
    }
    .painting-10{
        background: url('../imgs/paintings/10.jpg');
        background-size: cover;
    }
/* s_drawings */

/* s_contact */

/* s_footer */

/* s_copyright */