.text-danger{
    font-family: 'Fredericka the Great', cursive;
    color: #e5904d !important;
    text-shadow: 1px 1px black;
}

#s_header{background: #1e1109}
#s_trio{background: #fefaf7}
#s_model_of_the_week{background: #26221f}
#s_about{background: #f0e9d7}
#s_prints{background: #f6f5fa}
#s_paintings{background: #131514}
#s_drawings{background: #f0e9d7}
#s_contact{background: #e9e9e9}
#s_footer{background: #010101}
#s_copyright{background: #b9b9b9}

/* s_header */
    #s_header{
        background: url('../imgs/bg/4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    #s_header{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #s_header aside{
        text-align: center;
        grid-column: 2/4;
        grid-row: 2/3;
    }
    @media(max-width:992px){
        #s_header .display-4{
            font-size:30px;
        }
        #s_header h5{
            font-size:12px;
        }
    }
/* s_trio */
    .trioGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    @media(max-width:768px){
        .trioGrid{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        .subtrio{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-gap: 15px;
        }
    }
    @media(max-width:576px){
        .trioGrid{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-gap: 10px;
        }
        .subtrio{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
        }
    }
/* s_model_of_the_week */
    #s_model_of_the_week img{
        border-width: 5px !important;
    }
/* s_about */
    .aboutgrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;
        grid-template-areas: 
            "img-grid img-grid img-grid"
            "hd-grid hd-grid hd-grid"
            "text-grid text-grid text-grid";
    }
    .img-grid{
        grid-area: img-grid;
        grid-column: 2/3;
    }
    .hd-grid{
        grid-area: hd-grid;
        text-align: center;
    }
    .text-grid{
        grid-area: text-grid;
        line-height: 2;
    }
    @media(max-width:768px){
        .aboutgrid{
            grid-gap: 10px;
            grid-template-areas: 
                "img-grid hd-grid hd-grid"
                "img-grid text-grid text-grid"
                "img-grid text-grid text-grid";
        }
        .img-grid{
            grid-column: 1/3;
            width: 50%
        }
        .hd-grid{
            text-align: left;
            padding-left: 20px;
        }
        .text-grid{
            padding-left: 20px;
        }
    }
    @media(max-width:576px){
        .aboutgrid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-gap: 10px;
            grid-template-areas: 
                "hd-grid hd-grid"
                "text-grid img-grid"
        }
        .img-grid{
            grid-column: 2/2;
            width: 100%
        }
        .hd-grid{
            text-align: left;
            padding-left: 10px;
        }
        .text-grid{
            padding-left: 10px;
            font-size: 10px;
        }
    }
/* s_prints */
    .grid-thumbs{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
    }
    .grid-thumbs img{
        display: block;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4)
    }
    .grid-thumbs .bk-image{
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
    }
/* s_paintings */
    .my-paintings-container{
        display: grid;
        min-height: 600px;
        background: #fff;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "one one two three three"
        "one one four five five"
        "six seven seven five five"
        "six eight nine nine ten";
        grid-gap: 2px;
        border: 2px solid white;
        outline: none;
    }

    #s_paintings aside{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    #s_paintings .wind{
        width: 60%;
        justify-self: end; 
        align-self: end;
    }

    .my-cursor{
        cursor: pointer;
        outline: none;
    }
    .painting-1{
        background: url('../imgs/paintings/1.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: one;
    }
    .painting-2{
        background: url('../imgs/paintings/2.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: two;
    }
    .painting-3{
        background: url('../imgs/paintings/3.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: three;
    }
    .painting-4{
        background: url('../imgs/paintings/4.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: four;
    }
    .painting-5{
        background: url('../imgs/paintings/5.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: five;
    }
    .painting-6{
        background: url('../imgs/paintings/6.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: six;
    }
    .painting-7{
        background: url('../imgs/paintings/7.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: seven;
    }
    .painting-8{
        background: url('../imgs/paintings/8.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: eight;
    }
    .painting-9{
        background: url('../imgs/paintings/9.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: nine;
    }
    .painting-10{
        background: url('../imgs/paintings/10.jpg');
        background-size: cover;
        background-position: cover;
        grid-area: ten;
    }

    @media(max-width:768px){
        .my-paintings-container{
            min-height: 200px;
        }
    }
/* s_drawings */

/* s_contact */
    .contact-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template: 
            "contact-copy contact-map contact-map"
            "contact-img contact-map contact-map"
    }
    .contact-copy{
        grid-area: contact-copy;
    }
    .contact-map{
        grid-area: contact-map;
    }
    .contact-img{
        grid-area: contact-img;
    }
    @media(max-width:768px){
        .contact-grid{
            grid-template-columns: repeat(2, auto);
            grid-auto-rows: repeat(3, auto);
            grid-template: 
                "contact-img contact-copy"
                "contact-map contact-map"
                "contact-map contact-map";
        }
        .contact-img{
            width: 30%;
            justify-self: start;
        }
    }
    @media(max-width:576px){
        .contact-grid{
            grid-template-columns: auto;
            grid-auto-rows: repeat(4, auto);
            grid-template: 
                "contact-img"
                "contact-copy"
                "contact-map"
                "contact-map";
        }
        .contact-img{
            justify-self: center;
        }
    }
/* s_footer */
    .s_footer_grid{
        font-size: small;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
        grid-template-areas: 
        "footer-hours"
        "footer-menu"
        "footer-models"
        "footer-other"
        "footer-careers"
        "footer-img"
        ;
    }

    .footer_models{
        text-align: center;
    }

    .footer_models, .footer_careers{
        flex-direction: row-reverse;
        text-align: right;
    }

    .footer_hours{
        text-align: left;
    }

    .footer_img{
        width: 50%;
        justify-self: flex-end;
    }

    .footer_hours{
        grid-area: footer-hours;
    }
    .footer_menu{
        grid-area: footer-menu;
    }
    .footer_models{
        grid-area: footer-models;
    }
    .footer_other{
        grid-area: footer-other;
    }
    .footer_careers{
        grid-area: footer-careers;
    }
    .footer_img{
        grid-area: footer-img;
    }
    @media(max-width:767px){
        .footer_menu, .footer_models, .footer_other, .footer_careers{
            border-top: 1px dashed white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 10px;
            align-items: center; 
        }

        .footer_img{
            transform: scaleX(-1);
        }

        .footer_hours{
            text-align: center;
        }
    }

    @media(min-width:768px){
        .s_footer_grid{
            font-size: inherit;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-template-areas: 
            "footer-hours footer-img"
            "footer-menu footer-models"
            "footer-other footer-careers"
            ;
        }
        .footer_models, .footer_careers, .footer_careers h1{
            flex: none;
            padding-top: 0;
            text-align: left;
        }
    }
/* s_copyright */